header {
    background-color:#333333;
}


header nav img {
  height: var(--spacing); /* Pico's spacing variable */
  width: auto;
  height: 2.1rem;
}

#logger {
    font-size: 0.5rem;
    min-height:250px;
}
